footer {
    background-color: #1e73be;
    color: white;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

footer .container .top {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 64px;
}

footer .column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer a {
    display: block;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

footer .bottom nav {
    display: flex;
    gap: 12px;
}

footer .bottom a {
    background-color: white;
    color: black;
    padding: 10px 16px;
    border-radius: 24px;
}
